/* Importando uma fonte moderna do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Definindo variáveis de cor para facilitar a mudança no futuro */
:root {
    --bg-color: #ffffff;
    --text-color: #333;
    --accent-color: #6c757f;
    --secondary-color: #6c757d;
    --light-bg: #f8f9fa;
}

/* Estilo geral para o corpo da página */
body {
    background-color: var(--light-bg);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    max-width: 900px;
    margin: 2em auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

/* Estilo para o título principal */
h1 {
    color: var(--accent-color);
    text-align: center;
    border-bottom: 3px solid var(--accent-color);
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 2.5rem;
}

/* Estilo para os subtítulos das seções */
h2 {
    color: var(--secondary-color);
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 1.5rem;
}

/* Estilo para os parágrafos */
p {
    text-align: justify;
    margin-bottom: 10px;
}

/* Estilo para as listas de habilidades */
ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}

li {
    background-color: var(--bg-color);
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}

li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Novo estilo para a seção de links de contato */
.contact-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.contact-list li {
    background-color: var(--accent-color);
    padding: 12px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.contact-list li:hover {
    background-color: #0056b3; /* Uma cor mais escura para o efeito de hover */
    transform: translateY(-3px);
}

.contact-list a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}